<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat-sleep11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,63}</string>
                <key>spriteSize</key>
                <string>{472,862}</string>
                <key>spriteSourceSize</key>
                <string>{872,988}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,862}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat-sleep12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-22}</string>
                <key>spriteSize</key>
                <string>{356,777}</string>
                <key>spriteSourceSize</key>
                <string>{758,859}</string>
                <key>textureRect</key>
                <string>{{475,1},{356,777}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat-sleep13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{358,773}</string>
                <key>spriteSourceSize</key>
                <string>{758,859}</string>
                <key>textureRect</key>
                <string>{{833,1},{358,773}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat-sleep1.png</string>
            <key>size</key>
            <string>{1192,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a18969e6dc970aec8d395469cb1132fa:5c0295285b60321f7709ac018e5645b9:6261e9c10680d907653bd8dfa8c1739d$</string>
            <key>textureFileName</key>
            <string>cat-sleep1.png</string>
        </dict>
    </dict>
</plist>
